body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #000000; 
    background-color: #ececec9a; 
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  header {
    background-color: #1000f492;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding 3D shadow */
    transition: box-shadow 0.3s ease; /* Adding smooth transition */
    backdrop-filter: blur(10px);
  }
  header:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Enhancing shadow on hover */
  }
  nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
    display: flex; 
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease; /* Adding smooth transition for underline */
  }
  nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Positioning the underline */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease; /* Adding smooth transition for underline */
  }
  nav ul li a:hover::after {
    width: 100%; /* Highlighting the underline on hover */
  }
  .btn-container {
    margin-left: auto; /* Move the container to the right */
  }
  .mode-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  .introduction {
    margin-left: 2%;
    margin-right: 2%; /* Changed margin-right to create space for the image */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 500px;
    align-items: center;
    width:70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .introduction p,h2 {
    text-align: left;
    animation: slideIn 1.6s ease; /* Apply animation */
  }
  .About {
    margin-left: 2%;
    margin-right: 2%; /* Changed margin-right to create space for the image */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 500px;
    align-items: center;
  }

  .Contact {
    margin-left: 2%;
    margin-right: 2%; /* Changed margin-right to create space for the image */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 500px;
    align-items: center;
  }
  .About h2:hover {
    text-decoration-line: underline ;
    transition: width 0.3s ease; 
  }
  .introduction:hover {
    border-top: 2px solid;
  }
  .introduction h2 {
    margin-top: 0;
  }
  .right-side {
    width: 50%;
    text-align: center;
    position: absolute;
    right: 0.1%; /* Adjusted right positioning */
    top: 60%;
    transform: translateY(-50%);
  }
  .right-side img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(107, 105, 105);
  
  }
  .threeb {
    display: flex;
    justify-content: space-around;
  }
  .box1 {
    width: 200px;
    height:200px;
    border:2px solid black;
    border-radius: 10px;
  }
  .box1 img:hover {
   transform: scale(1.1);
  }
 
  @keyframes slideIn {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(0);
    }
  }
  

  .social-icons {
      display: grid;

     
  }
  .social-icons a {
      color: #000;
      font-size: 24px;
      margin-right: 10px;
      text-decoration: none;
      display: flex; /* Use flexbox */
      align-items: center; /* Center vertically */

  }
  .social-icons img {
      width: 30px;
      margin-right: 5px;
    
  }
  .email-form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    
  }
  .email-form input[type="email"],
  .email-form input[type="submit"] {
      margin-top: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
  }
  .email-form input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
      width:265px; 
  }